IMPORTING THE DEPENDENCIES

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#Loading the data set to pandas data frame 
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130797,79434,-5.466097,2.517599,-2.343553,4.215289,-3.280618,-0.287955,-2.296688,3.464467,-2.399703,...,0.359007,-0.339049,0.336488,0.373767,-0.522598,-0.237532,-2.033451,-0.874593,39.32,0.0
130798,79434,-0.400431,1.081795,1.398292,-0.004797,-0.018701,-0.773994,0.616732,0.061465,-0.666232,...,-0.198177,-0.540952,0.001058,0.483626,-0.218053,0.041827,0.241530,0.090224,4.49,0.0
130799,79435,-0.061008,-0.744399,1.800945,-2.150292,-1.040646,0.448124,-0.344005,-0.007536,-2.311161,...,0.059198,0.617976,-0.030908,-0.313231,-0.141417,-0.142070,-0.096524,-0.202511,79.00,0.0
130800,79435,1.064540,-0.651524,0.504264,-0.180169,-0.255126,1.240949,-0.660998,0.327149,0.820702,...,-0.178904,-0.367111,-0.159203,-1.226536,0.230462,1.026093,-0.029286,0.004010,89.99,0.0
130801,79435,-0.743444,0.539346,2.515842,-1.960928,-0.421662,-0.724772,0.537915,-0.156173,1.292790,...,-0.054806,0.321604,-0.410774,0.417508,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
130797,79434,-5.466097,2.517599,-2.343553,4.215289,-3.280618,-0.287955,-2.296688,3.464467,-2.399703,...,0.359007,-0.339049,0.336488,0.373767,-0.522598,-0.237532,-2.033451,-0.874593,39.32,0.0
130798,79434,-0.400431,1.081795,1.398292,-0.004797,-0.018701,-0.773994,0.616732,0.061465,-0.666232,...,-0.198177,-0.540952,0.001058,0.483626,-0.218053,0.041827,0.241530,0.090224,4.49,0.0
130799,79435,-0.061008,-0.744399,1.800945,-2.150292,-1.040646,0.448124,-0.344005,-0.007536,-2.311161,...,0.059198,0.617976,-0.030908,-0.313231,-0.141417,-0.142070,-0.096524,-0.202511,79.00,0.0
130800,79435,1.064540,-0.651524,0.504264,-0.180169,-0.255126,1.240949,-0.660998,0.327149,0.820702,...,-0.178904,-0.367111,-0.159203,-1.226536,0.230462,1.026093,-0.029286,0.004010,89.99,0.0
130801,79435,-0.743444,0.539346,2.515842,-1.960928,-0.421662,-0.724772,0.537915,-0.156173,1.292790,...,-0.054806,0.321604,-0.410774,0.417508,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#data information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130802 entries, 0 to 130801
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    130802 non-null  int64
 1   V1      130802 non-null  float64
 2   V2      130802 non-null  float64
 3   V3      130802 non-null  float64
 4   V4      130802 non-null  float64
 5   V5      130802 non-null  float64
 6   V6      130802 non-null  float64
 7   V7      130802 non-null  float64
 8   V8      130802 non-null  float64
 9   V9      130802 non-null  float64
 10  V10     130802 non-null  float64
 11  V11     130802 non-null  float64
 12  V12     130802 non-null  float64
 13  V13     130802 non-null  float64
 14  V14     130802 non-null  float64
 15  V15     130802 non-null  float64
 16  V16     130802 non-null  float64
 17  V17     130802 non-null  float64
 18  V18     130802 non-null  float64
 19  V19     130802 non-null  float64
 20  V20     130802 non-null  float64
 21  V21     130802 non-null  float64
 22  V22     130802 non-null  float64
 23  V23     130802 non-null  float64
 24  V24     130802 non-null  float64
 25  V25     130801 non-null  float64
 26  V26     130801 non-null  float64
 27  V27     130801 non-null  float64
 28  V28     130801 non-null  float64
 29  Amount  130801 non-null  float64
 30  Class   130801 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 30.9 MB

In [ ]:
#checking the number of missing values in each columns
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card_data['Class'].value_counts()

0.0    85054
1.0      204
Name: Class, dtype: int64

In [ ]:
credit_card_data['Class'].value_counts()

0.0    85054
1.0      204
Name: Class, dtype: int64

This data set is highly unbalanced


Label 0.0 ---- normal transaction

Label 1.0 ---- Fraudulent transaction

In [ ]:
#seperating the data for analysis
legit=credit_card_data[credit_card_data.Class == 0.0]
fraud=credit_card_data[credit_card_data.Class == 1.0]

In [ ]:
print(legit.shape)
print(fraud.shape)

(130540, 31)
(261, 31)

In [ ]:
#statistical measures of the data
legit.Amount.describe()

count    130540.000000
mean         92.443479
std         250.815557
min           0.000000
25%           6.240000
50%          24.560000
75%          82.500000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     261.000000
mean      116.679693
std       246.300626
min         0.000000
25%         1.000000
50%        11.380000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#Compare the values for both transaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,49803.748514,-0.234955,-0.006371,0.692647,0.135422,-0.278173,0.083854,-0.106118,0.059408,-0.079864,...,0.041665,-0.040103,-0.115137,-0.034182,0.012281,0.130839,0.023708,-0.000204,0.002147,92.443479
1.0,41975.996169,-5.665868,3.973470,-7.225782,4.526519,-4.014566,-1.501321,-5.982089,1.526847,-2.616088,...,0.238243,1.271860,-0.320923,-0.117196,-0.105943,0.199014,0.054738,0.492548,0.081347,116.679693

In [ ]:
#missleneaous analysisi
credit_card_data.groupby('Class').describe()

           Time                                                       \
          count          mean           std    min      25%      50%
Class
0.0    130540.0  49803.748514  20014.551647    0.0  36946.0  51583.5
1.0       261.0  41975.996169  20862.389376  406.0  26863.0  41397.0

                                V1            ...       V28             \
            75%      max     count      mean  ...       75%        max
Class                                         ...
0.0    66530.25  79435.0  130540.0 -0.234955  ...  0.076784  33.847808
1.0    58222.00  78725.0     261.0 -5.665868  ...  0.404474   1.130625

         Amount
          count        mean         std  min   25%    50%    75%       max
Class
0.0    130540.0   92.443479  250.815557  0.0  6.24  24.56  82.50  19656.53
1.0       261.0  116.679693  246.300626  0.0  1.00  11.38  99.99   1809.68

[2 rows x 240 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [ ]:
legit_sample=legit.sample(n=492)

In [ ]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
93728,64561,-0.919007,0.158239,3.791503,3.401821,-0.960518,1.490213,-0.903934,0.684870,-0.080375,...,0.248271,1.015124,-0.198771,0.609797,0.152347,0.502720,0.152262,0.105619,49.55,0.0
28847,35193,-0.884012,1.399454,2.003636,2.055781,1.523581,2.460598,0.916139,-0.055602,-0.557462,...,-0.345431,0.119451,-0.017394,-1.390435,-0.651403,-0.008227,0.105390,-0.516859,5.34,0.0
21268,31566,1.396071,-0.880736,-0.155852,-0.934196,-0.434641,0.526246,-0.811957,0.191336,-0.324428,...,-0.130671,-0.470917,-0.222418,-1.408007,0.605882,-0.223692,-0.002468,-0.007933,44.90,0.0
119143,75347,1.485941,-0.325035,-0.551499,-0.845371,-0.216371,-0.917921,-0.011792,-0.375973,-1.136155,...,0.145207,0.346199,-0.281322,-0.404634,0.909394,-0.034868,-0.030328,-0.004064,25.00,0.0
57568,47966,-0.354382,1.042800,1.273243,0.075437,-0.037581,-1.016371,0.633361,-0.016648,-0.247450,...,-0.273704,-0.770061,-0.000641,0.302299,-0.191744,0.075432,0.238725,0.096539,3.08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17183,28504,1.134258,0.591289,0.062167,2.526403,0.148094,-0.829509,0.627468,-0.292327,-1.049006,...,0.013709,-0.095233,-0.147769,0.379211,0.709760,0.064066,-0.049483,0.018402,52.33,0.0
76910,56801,-4.304709,4.006327,-3.095189,-0.225811,-0.338492,-0.140577,0.050494,1.133219,1.824814,...,-0.372202,0.075154,-0.034901,-1.421529,0.316668,-0.282539,1.409893,0.974624,36.68,0.0
104220,68965,-10.934891,4.457323,-5.301625,0.058187,-5.231223,-1.050543,-2.594930,4.212623,1.166266,...,-0.021467,-0.753833,-0.533345,0.481376,0.366479,-0.246962,-4.228058,-1.473684,19.62,0.0
129670,79179,-1.906598,0.676089,1.984195,2.900599,-0.514196,0.344607,1.195370,0.435267,-2.174107,...,0.444731,0.419706,0.354281,0.367862,0.585470,0.002712,-0.181275,-0.020074,291.95,0.0
116617,74359,-2.395170,2.891895,0.807260,2.183034,-0.065161,0.687610,-2.595541,-7.897800,-2.364056,...,-3.977229,0.497469,-0.253598,0.561309,-0.147579,-0.237029,0.049368,0.195172,83.18,0.0

Concatenating two DataFrames

In [ ]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_dataset

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
93728,64561,-0.919007,0.158239,3.791503,3.401821,-0.960518,1.490213,-0.903934,0.684870,-0.080375,...,0.248271,1.015124,-0.198771,0.609797,0.152347,0.502720,0.152262,0.105619,49.55,0.0
28847,35193,-0.884012,1.399454,2.003636,2.055781,1.523581,2.460598,0.916139,-0.055602,-0.557462,...,-0.345431,0.119451,-0.017394,-1.390435,-0.651403,-0.008227,0.105390,-0.516859,5.34,0.0
21268,31566,1.396071,-0.880736,-0.155852,-0.934196,-0.434641,0.526246,-0.811957,0.191336,-0.324428,...,-0.130671,-0.470917,-0.222418,-1.408007,0.605882,-0.223692,-0.002468,-0.007933,44.90,0.0
119143,75347,1.485941,-0.325035,-0.551499,-0.845371,-0.216371,-0.917921,-0.011792,-0.375973,-1.136155,...,0.145207,0.346199,-0.281322,-0.404634,0.909394,-0.034868,-0.030328,-0.004064,25.00,0.0
57568,47966,-0.354382,1.042800,1.273243,0.075437,-0.037581,-1.016371,0.633361,-0.016648,-0.247450,...,-0.273704,-0.770061,-0.000641,0.302299,-0.191744,0.075432,0.238725,0.096539,3.08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124087,77171,1.118560,1.291858,-1.298805,2.135772,0.772204,-1.147291,0.390578,-0.107072,-0.038339,...,-0.346374,-0.663588,-0.102326,0.017911,0.650302,-0.332366,0.105949,0.128124,1.00,1.0
124115,77182,-1.410852,2.268271,-2.297554,1.871331,0.248957,-1.208799,-1.358648,1.102916,-1.317364,...,0.155381,-0.614880,-0.196126,-0.464376,0.118473,-0.484537,0.373596,0.187657,1.00,1.0
124176,77202,-0.356326,1.435305,-0.813564,1.993117,2.055878,-0.543579,0.487691,0.085449,-0.536352,...,-0.312863,-0.687874,-0.267003,-1.158480,0.271460,-0.155397,0.114328,0.101526,1.00,1.0
125342,77627,-7.139060,2.773082,-6.757845,4.446456,-5.464428,-1.713401,-6.485365,3.409395,-3.053493,...,1.303250,-0.016118,-0.876670,0.382230,-1.054624,-0.614606,-0.766848,0.409424,106.90,1.0
128479,78725,-4.312479,1.886476,-2.338634,-0.475243,-1.185444,-2.112079,-2.122793,0.272565,0.290273,...,0.550541,-0.067870,-1.114692,0.269069,-0.020572,-0.963489,-0.918888,0.001454,60.00,1.0

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
93728,64561,-0.919007,0.158239,3.791503,3.401821,-0.960518,1.490213,-0.903934,0.684870,-0.080375,...,0.248271,1.015124,-0.198771,0.609797,0.152347,0.502720,0.152262,0.105619,49.55,0.0
28847,35193,-0.884012,1.399454,2.003636,2.055781,1.523581,2.460598,0.916139,-0.055602,-0.557462,...,-0.345431,0.119451,-0.017394,-1.390435,-0.651403,-0.008227,0.105390,-0.516859,5.34,0.0
21268,31566,1.396071,-0.880736,-0.155852,-0.934196,-0.434641,0.526246,-0.811957,0.191336,-0.324428,...,-0.130671,-0.470917,-0.222418,-1.408007,0.605882,-0.223692,-0.002468,-0.007933,44.90,0.0
119143,75347,1.485941,-0.325035,-0.551499,-0.845371,-0.216371,-0.917921,-0.011792,-0.375973,-1.136155,...,0.145207,0.346199,-0.281322,-0.404634,0.909394,-0.034868,-0.030328,-0.004064,25.00,0.0
57568,47966,-0.354382,1.042800,1.273243,0.075437,-0.037581,-1.016371,0.633361,-0.016648,-0.247450,...,-0.273704,-0.770061,-0.000641,0.302299,-0.191744,0.075432,0.238725,0.096539,3.08,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
124087,77171,1.118560,1.291858,-1.298805,2.135772,0.772204,-1.147291,0.390578,-0.107072,-0.038339,...,-0.346374,-0.663588,-0.102326,0.017911,0.650302,-0.332366,0.105949,0.128124,1.0,1.0
124115,77182,-1.410852,2.268271,-2.297554,1.871331,0.248957,-1.208799,-1.358648,1.102916,-1.317364,...,0.155381,-0.614880,-0.196126,-0.464376,0.118473,-0.484537,0.373596,0.187657,1.0,1.0
124176,77202,-0.356326,1.435305,-0.813564,1.993117,2.055878,-0.543579,0.487691,0.085449,-0.536352,...,-0.312863,-0.687874,-0.267003,-1.158480,0.271460,-0.155397,0.114328,0.101526,1.0,1.0
125342,77627,-7.139060,2.773082,-6.757845,4.446456,-5.464428,-1.713401,-6.485365,3.409395,-3.053493,...,1.303250,-0.016118,-0.876670,0.382230,-1.054624,-0.614606,-0.766848,0.409424,106.9,1.0
128479,78725,-4.312479,1.886476,-2.338634,-0.475243,-1.185444,-2.112079,-2.122793,0.272565,0.290273,...,0.550541,-0.067870,-1.114692,0.269069,-0.020572,-0.963489,-0.918888,0.001454,60.0,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0    261
Name: Class, dtype: int64

Splitting the data set into feautres and target

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y=new_dataset['Class']

In [ ]:
print(X)
print(Y)

         Time        V1        V2        V3        V4        V5        V6  \
93728   64561 -0.919007  0.158239  3.791503  3.401821 -0.960518  1.490213
28847   35193 -0.884012  1.399454  2.003636  2.055781  1.523581  2.460598
21268   31566  1.396071 -0.880736 -0.155852 -0.934196 -0.434641  0.526246
119143  75347  1.485941 -0.325035 -0.551499 -0.845371 -0.216371 -0.917921
57568   47966 -0.354382  1.042800  1.273243  0.075437 -0.037581 -1.016371
...       ...       ...       ...       ...       ...       ...       ...
124087  77171  1.118560  1.291858 -1.298805  2.135772  0.772204 -1.147291
124115  77182 -1.410852  2.268271 -2.297554  1.871331  0.248957 -1.208799
124176  77202 -0.356326  1.435305 -0.813564  1.993117  2.055878 -0.543579
125342  77627 -7.139060  2.773082 -6.757845  4.446456 -5.464428 -1.713401
128479  78725 -4.312479  1.886476 -2.338634 -0.475243 -1.185444 -2.112079

              V7        V8        V9  ...       V20       V21       V22  \
93728  -0.903934  0.684870 -0.080375  ...  0.336438  0.248271  1.015124
28847   0.916139 -0.055602 -0.557462  ...  0.822742 -0.345431  0.119451
21268  -0.811957  0.191336 -0.324428  ...  0.096491 -0.130671 -0.470917
119143 -0.011792 -0.375973 -1.136155  ...  0.131705  0.145207  0.346199
57568   0.633361 -0.016648 -0.247450  ...  0.056858 -0.273704 -0.770061
...          ...       ...       ...  ...       ...       ...       ...
124087  0.390578 -0.107072 -0.038339  ... -0.023576 -0.346374 -0.663588
124115 -1.358648  1.102916 -1.317364  ...  0.058063  0.155381 -0.614880
124176  0.487691  0.085449 -0.536352  ...  0.303262 -0.312863 -0.687874
125342 -6.485365  3.409395 -3.053493  ... -0.616949  1.303250 -0.016118
128479 -2.122793  0.272565  0.290273  ... -0.718706  0.550541 -0.067870

             V23       V24       V25       V26       V27       V28  Amount
93728  -0.198771  0.609797  0.152347  0.502720  0.152262  0.105619   49.55
28847  -0.017394 -1.390435 -0.651403 -0.008227  0.105390 -0.516859    5.34
21268  -0.222418 -1.408007  0.605882 -0.223692 -0.002468 -0.007933   44.90
119143 -0.281322 -0.404634  0.909394 -0.034868 -0.030328 -0.004064   25.00
57568  -0.000641  0.302299 -0.191744  0.075432  0.238725  0.096539    3.08
...          ...       ...       ...       ...       ...       ...     ...
124087 -0.102326  0.017911  0.650302 -0.332366  0.105949  0.128124    1.00
124115 -0.196126 -0.464376  0.118473 -0.484537  0.373596  0.187657    1.00
124176 -0.267003 -1.158480  0.271460 -0.155397  0.114328  0.101526    1.00
125342 -0.876670  0.382230 -1.054624 -0.614606 -0.766848  0.409424  106.90
128479 -1.114692  0.269069 -0.020572 -0.963489 -0.918888  0.001454   60.00

[753 rows x 30 columns]
93728     0.0
28847     0.0
21268     0.0
119143    0.0
57568     0.0
         ...
124087    1.0
124115    1.0
124176    1.0
125342    1.0
128479    1.0
Name: Class, Length: 753, dtype: float64

Split the data into Training data & Testing Data

In [ ]:
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape,X_train.shape, X_test.shape)

(753, 30) (602, 30) (151, 30)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9584717607973422

In [ ]:
#Accuracy in test data
X_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy of Test data : ',testing_data_accuracy)

Accuracy of Test data :  0.9205298013245033